@import "@/app/styles/variables";
@import "@/app/styles/themes";

header {
    display: flex;
    background-color: var(--mainColor);
    align-items: center;
    height: 200px;
    justify-content: space-between;

    >.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    image {

    }

    nav {
      ul {
        display: flex;
        gap: 20px;
        li {
          
        }
      }
    }

    .sub-menu {
      display: flex;
      gap: 20px;

      a {

      }

      button {
        
      }
    }
  }