@import "@/app/styles/variables";
@import "@/app/styles/themes";

header {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  transition: transform 0.5s ease;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 9;

  img {
    cursor: pointer;
    order: 2;
    width: 255px;
    height: 35px;

    @media (width >=$md) {
      order: 1;
      width: 306px;
      height: 43px;
    }
  }

  &.fixed {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #1e1f2385;
    animation: slideDown 0.5s both;
    border-bottom: 1px solid #7c7c7c17;
  }

  &:not(.fixed) {
    animation: slideUp 0.5s both;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    ul.desktop {
      display: none;
      gap: 50px;

      li {
        position: relative;

        a {
          text-transform: capitalize;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--white);

          &:hover {
            color: $dark-theme-orange;
          }
        }

        &.active {
          a {
            color: $dark-theme-orange;
            font-weight: 700;
          }

          &::before {
            content: "";
            position: absolute;
            top: -36px;
            width: 100%;
            height: 6px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $dark-theme-orange;
          }
        }
      }

      @media (width >=$md) {
        display: flex;
      }
    }

    ul.mobile {
      display: none;

      &.active {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #1e1f23;
        left: 0;
        top: 100px;
        border-top: 1px solid rgba(124, 124, 124, 0.0901960784);
      }

      li {
        padding: 20px 0;
        position: relative;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(124, 124, 124, 0.0901960784);
        }

        a {
          text-transform: capitalize;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: var(--white);

          &:hover {
            color: $dark-theme-orange;
          }
        }

        &.active {
          a {
            color: $dark-theme-orange;
            font-weight: 700;
            padding-left: 20px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 6px;
            height: 100%;
            border-radius: 10px;
            background-color: $dark-theme-orange;
          }
        }
      }
    }

    .hamburger {
      border-radius: 5px;
      border: 1px solid #fff;
      width: 46px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (width >=$md) {
        display: none;
      }

      &-menu {
        display: none;
        width: 24px;
        height: 24px;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        top: 4px;
        left: 0;
        z-index: 6;

        & span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $white;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 7px;
          }

          &:nth-child(4) {
            top: 14px;
          }
        }

        &.active {
          & span {
            &:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
        }

        @media screen and (max-width: 991px) {
          display: flex;
        }
      }
    }

    order: 1;

    @media (width >=$md) {
      order: 2;
    }
  }

  .sub-menu {
    display: flex;
    gap: 20px;
    order: 3;

    a.call-us {
      @include button;
      display: none;

      &:hover {
        background-color: #222327;
        color: $orange;
      }

      i {
        margin-right: 0.5rem;
        font-size: 20px;
      }

      @media (width >=$lg) {
        display: flex;
      }
    }

    a.call-us-mobile {
      border-radius: 5px;
      border: 1px solid #fff;
      width: 46px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 17px;

      @media (width >=$md) {
        display: none;
      }
    }

    button {
      position: relative;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 100px;
      padding: 9px 18px;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--orange);
      gap: 35px;
      display: none;

      @media (width >=$md) {
        display: flex;
      }

      i {
        font-size: 20px;
        color: var(--orange);
        transition: color 0.3s ease;
        z-index: 1;
      }

      .sun-active {
        color: $dark-theme-orange;
      }

      .moon-active {
        color: $dark-theme-body-color;
      }

      span {
        border-radius: 100px;
        background-color: var(--orange);
        width: 55px;
        height: 44px;
        position: absolute;
        transition: left 0.3s ease;
      }

      .toggle-left {
        left: -1px;
      }

      .toggle-right {
        left: calc(100% - 54px);
      }
    }
  }
}
