@mixin overflow($value, $height) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $value;
    overflow: hidden;
    min-height: $height;
    max-height: $height;
}

@mixin button {
    background-color: $orange;
    padding: 9px 18px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $dark-theme-body-color;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;

    i {
        margin-right: .5rem;
        font-size: 20px;
    }

    &:hover {}
}

@mixin animatetop {
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: relative;
    left: 0;
    top: 0;
}

@mixin modal-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}