@import "./variables";

body[data-theme=dark] {
  --mainColor: #{$dark-theme-body-main-color};
  --bodyColor: #{$dark-theme-body-color};
  --buttonColor: #{$dark-theme-body-main-color};
  --orange: #{$dark-theme-orange};
  --socialButton: #{$dark-theme-social-color};
  --white:#{$white};
  --dark:#{$dark-theme-body-color};
}