@import "@/app/styles/variables";

.aboutus {
    background-color: var(--mainColor);
    padding: 100px 0;

    &-wrapper {
        border-radius: 15px;
        background: rgba(49, 51, 58, 0.70);
        backdrop-filter: blur(10px);
        padding: 50px 150px 50px 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
        text-align: center;
        z-index: 1;

        .badge {
            position: absolute;
            top: -20px;
            border-radius: 100px;
            background: #3E4048;
            padding: 10px 20px;

        }

        h2 {
            color: #E6BC31;
            text-align: center;
            font-size: 55px;
            font-style: normal;
            font-weight: 900;
            line-height: 53px;
        }

        span {
            color: #FFF;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 53px;
        }

        p {
            padding-top: 50px;
            color: #A2A5AE;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 174.1%;
        }
    }

    &-box-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        display: grid;
        padding-top: 50px;

        @media (width >=$md) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .box {
            border-radius: 15px;
            padding: 20px;
            background: #31333A;
            backdrop-filter: blur(10px);

            h3 {
                color: #E6BC31;
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: 191%;
            }

            span {
                color: #66686E;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 176%;
            }
        }
    }

    >.container {
        position: relative;
    }

    .comment-img {
        position: absolute;
        right: 50px;
        top: -57px;
        z-index: 0;
        display: none;

        
        @media (width >=$md) {
          display: block;
        }
    }

    .img1 {
        position: absolute;
        left: -15px;
        top: -60px;
        z-index: 0; 
    }

    .img2 {
        position: absolute;
        right: -24px;
        bottom: 168px;
        z-index: 0; 
        display: none;
        
        @media (width >=$md) {
          display: block;
        }
    }
}